  <nav>
    <div class="nav-wrapper blue">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Página Inicial', root_path %></li>
        <li><%= link_to 'Pegar Café', new_coffee_time_path %></li>
        <li><%= link_to 'Lista pegou-café', coffee_times_path %></li>
        <li><%= link_to 'Cadastrar Funcionário', new_worker_path %></li>
        <li><%= link_to 'Lista Funcionários', workers_path %></li>
      </ul>
    </div>
  </nav>