<%= simple_form_for @worker do |f| %>

  <div class="field">
    <%= f.input :name, label: 'Nome' %>
  </div>

  <div class="field">
    <%= f.label "Cargo" %>
    <%=  f.select :occupation_id, @occupations, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
